### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### WP Backups ###
wp-admin/
wp-content/*
!wp-content/themes
wp-includes/
