/* Theme's corrections */
.intro-media {
    background-color: #ffffff !important;
}

#page {
    background-color: #ffffff;
    color: black;
}

/* design */
#design-intro .container{
      max-width: 100%;
      padding: 2% 4%;
}

#design-intro a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc(8px + 3 * (100vw / 1280));
}

#design-intro a.active {
    color: #000;
    font-weight: 500;
    cursor: default;
}

@media (max-width: 768px) {
    .design-entry .col-md-9 {
        display: none;
    }

    .design-entry .link-box {
        margin-top: 0;
        float: left;
    }
}

/* projects */
#projects .container {
    max-width: 100%;
    padding: 0 4%;
    padding-bottom: 6%;
}

#projects .grid .grid-item h3 {
    color: #fff;
}

.grid {
    margin-bottom: 20px;
}

.grid-item {
    width: 100%;
}

.grid-item a {
    display: block;
}

.grid-item a img {
    display: block;
    width: 100%;
}

.grid-link {
    display: inline-block;
    margin: 0.5%;
    text-align: left;
    opacity: 0.99;
    overflow: hidden;
    position: relative;
    border-radius: 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.grid-link:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
}

.grid-link .details {
    padding: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.grid-link .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.grid-link .details .title {
    line-height: 1;
}

.grid-link .details .info {
    line-height: 1.2;
    margin-top: 2%;
}

.grid-link:focus:before,
.grid-link:focus span,
.grid-link:hover:before,
.grid-link:hover span {
    opacity: 1;
}

.grid-link:focus:before,
.grid-link:hover:before {
    top: 50%;
}

.grid-link:focus span,
.grid-link:hover span {
    top: 0;
}

.grid-link:focus .title,
.grid-link:hover .title {
    transition-delay: 0.15s;
}

.grid-link:focus .info,
.grid-link:hover .info {
    transition-delay: 0.25s;
}

/* Adaptive */
@media (min-width: 480px) {

    .grid {
        display: flex;
    }

    .grid-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .grid-item {
        width: 33.33333333333333%;
    }
}

@media not screen,
(max-width: 878px) {

    .grid-link:focus:before,
    .grid-link:focus span,
    .grid-link:before,
    .grid-link span {
        opacity: 1;
    }

    .grid-link:focus:before,
    .grid-link:before {
        top: 50%;
    }

    .grid-link:focus span,
    .grid-link span {
        top: 0;
    }

    .grid-link .details span {
        opacity: 1;
        position: static;
    }
}