/* Theme's corrections */

.site-content {
    position: static !important;
}

.intro-container .intro-title {
    padding-top: 25%;
    border-top: 1px solid;
    font-size: 2.5em;
}

.intro .slick-arrow {
    width: 2.62rem;
    height: 2.62rem;
    bottom: 2.62rem;
    line-height: 2.62rem;
}

p.intro-slideshow-item-title {
    cursor: auto;
}

.site-content-inner {
    max-width: none !important;
    width: 100% !important;
}

.title {
    margin: 5% 0;
    margin-left: 8%;
    text-transform: uppercase;
}

/* About us section*/

#about-us-block {
    margin: 8% 0;
    position: relative;
}

#about-us-block h2 {
    text-transform: uppercase;
}

#about-us-block p {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5%;
}

#about-us-block a {
    float: right;
    padding: 1% 2%;
    font-size: calc(10px + 1 * (100vw / 1280));
    line-height: 1.42857143;
    border: 1px #d9d9d9 solid;
    text-transform: uppercase;
    margin-top: -2%;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#about-us-block a:hover {
    border: 2px #ff4a5b solid;
    color: #fff;
    letter-spacing: 0.5px;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

@media (max-width: 500px) {

    #about-us-block a {
        display: none;
    }
}

/* Design section*/

#choose-design .choose-design-title-border {
    margin: 0 7%;
    border-top: 1px solid;
}

#choose-design {
    margin: 8% 0;
}

#choose-design .interior-block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: -35px; */
}

#choose-design .interior-card-wrap {
    margin: 0 40px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
}

#choose-design .interior-card-wrap:hover .interior-card-info {
    transform: translateY(0);
}

#choose-design .interior-card-wrap:hover .interior-card-info p {
    opacity: 1;
}

#choose-design .interior-card-wrap:hover .interior-card-info,
#choose-design .interior-card-wrap:hover .interior-card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#choose-design .interior-card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}

#choose-design .interior-card-wrap:hover .interior-card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

#choose-design .interior-card-wrap:hover .interior-card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0) 0 0 20px 5px,
        #ff4a5b 0 0 0 1px,
        rgba(0, 0, 0, 0.075) 0 10px 30px 0,
        inset rgba(51, 51, 51, 0.068) 0 0 0 5px,
        inset rgba(255, 74, 91, 0.25) 0px 0px 51px -20px;
}

#choose-design .interior-card {
    position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.445);
    overflow: hidden;
    border-radius: 10px;
    /* 0 20px 50px 0 */
    box-shadow: rgba(255, 74, 91, 0.2) 0px 0px 0px 1px,
        inset rgb(0, 0, 0) 0 0 0 5px,
        inset #ff4a5b 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#choose-design .interior-card-bg {
    opacity: 0.4;
    position: absolute;
    top: -25px;
    left: -25px;
    width: 100%;
    height: 100%;
    padding: 15%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#choose-design .interior-card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#choose-design .interior-card-info p {
    opacity: 0;
    text-shadow: black 0 3px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#choose-design .interior-card-info * {
    position: relative;
    z-index: 1;
}

#choose-design .interior-card-info:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#choose-design .interior-card-info h3 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

@media (max-width: 1200px) {

    #choose-design .interior-card {
        flex: 0 0 240px;
        width: 200px;
        height: 250px;
    }
}

@media (max-width: 992px) {

    #choose-design .interior-card {
        width: 170px;
        height: 220px;
    }

    #choose-design .interior-card-wrap {
        margin: 0 20px;
    }
}

@media (max-width: 768px) {

    #choose-design .interior-card {
        width: 140px;
        height: 180px;
    }

    #choose-design .interior-card-wrap {
        margin: 0 10px;
    }
}

@media (max-width: 510px) {

    #choose-design .interior-card {
        width: 140px;
        height: 180px;
    }

    #choose-design .interior-card-wrap {
        margin: 10px;
    }
}

@media (max-width: 344px) {

    #choose-design .interior-card {
        width: 180px;
        height: 190px;
    }

    #choose-design .interior-card-wrap {
        margin: 10px;
    }
}

/* Work stages section */

#process-block {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#process-block-bg {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

#cd-timeline h3 {
    color: black;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin: 2% auto;
    margin-bottom: 4%;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px;
    background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block::after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: -1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: black;
}

.cd-timeline-img i {
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -18%;
    margin-top: -18%;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 45px;
        height: 45px;
        left: 50%;
        margin-left: -23px;
    }

    .cd-timeline-img i {
        width: 30px;
        height: 30px;
        left: 50%;
        top: 50%;
        margin-left: -8px;
        margin-top: -8px;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #ffffff;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content::after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-content h3 {
    color: #303e49;
}

.cd-timeline-content ol {
    margin: 1em;
    list-style-type: disc;
}

.cd-timeline-content::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }
}

/* Section contacts */

#contacts {
    margin: 3% 0;
}

#contacts h3 {
    color: #914b4b;
}

#contacts a {
    color: #fff;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#contacts a:hover {
    color: #ff4a5b;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#contacts .contacts-info {
    margin: 1% 3% 6% 3%;
}

#contacts .contacts-info .social {
    max-width: fit-content;
    display: inline;
}

#contacts .contacts-info .border-left {
    border-left: 1px solid;
    padding-left: 4%;
    margin-left: 2%;
}

#contacts .contacts-info .adres-wrapper {
    padding-right: 2%;
}

#contacts .contacts-info i {
    margin-right: 10px;
}

#contacts .contacts-info .social i {
    font-size: calc(11px + 7 * (100vw / 1280));
    margin: 0;
}

#contacts .contacts-info .social a {
    margin-right: 15%;
}

#contacts .contacts-info .social a:first-child {
    margin-left: 3%;
}

#contacts .contacts-info .phones {
    display: block;
}

#contacts .contacts-info .phones:last-child {
    margin-top: 5px;
}

#contacts .map {
    margin: 0 2%;
    margin-top: 3%;
}

@media (max-width: 992px) {

    #contacts .contacts-info {
        margin: 1% 0% 6% 0%;
    }

    #contacts .contacts-info .adres-wrapper {
        padding-right: 0%;
    }
}

@media (max-width: 768px) {

    #contacts .contacts-info {
        margin: 1% 3% 6% 3%;
    }

    #contacts .contacts-info .border-left {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }

    #contacts h3 {
        margin-bottom: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}