/* Theme's corrections */
.intro-media {
    background-color: #ffffff !important;
}

#page {
    background-color: #ffffff;
    color: black;
}

.site-header .site-header-content {
    color: #000 !important;
}

#main h2,
#main h3,
#main h4 {
    color: #000;
}

/* project decription */
#project {
    margin-bottom: 9%;
}

#project .project-title{
    padding-left: 4%;
    padding-bottom: 1%;
    letter-spacing: 2px;
}

#project .project-title h2{
    color: #666;
}

.slider {
    padding: 0 3%;
}

.project-info span{
    font-weight: 500;
}

.project-info p {
    margin-bottom: 2%;
    padding-left: 12%;
}

.project-description {
    margin: 5% 6% 0 3%;
}

.project-description .text-description {
    padding-right: 5%;
}

.project-description .project-authors {
    border-left: 1px solid;
    padding-left: 10%;
    margin-left: 5%;
}

.project-description .project-authors p {
    margin-bottom: 2%;
}

@media (max-width: 992px) {
    .project-info {
        margin-top: 3%;
    }

    .project-info p {
        margin-bottom: 0;
        padding-left: 3%;
    }

    .project-description {
        margin: 3% 0 0 3%;
    }

    .project-description .text-description {
        padding-right: 0;
    }

    .project-description .project-authors {
        margin-left: 0;
        margin-top: 3%;
        padding-left: 0;
        border-left: none;
    }
}

